<section class="bg-light text-center py-5　index-page">
  <h2 class="py-5">My Menu</h2>
  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr class="table-primary"><th>What</th><th>About</th></tr>
      </thead>
      <tbody>
        <tr><td><a href='#'>出勤打刻</a></td><td><a href='#'>出勤時間を記録します</a></td></tr>
        <tr><td><a href='#'>退勤打刻</a></td><td><a href='#'>退勤時間を記録します</a></td></tr>
        <tr><td><a href='#'>勤務実績一覧</a></td><td><a href='#'>勤務実績を確認します</a></td></tr>
      </tbody>
    </table>
  </div>
</section>