<main>
  <div class="top-wrapper">
    <h1 class="text-white">さあ、はじめましょう</h1>
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-light"><a href="#" class="text-info">Sign up</a></button>
    </div>
  </div>
</main>