@import "bootstrap";


// ヘッダー

header{
    overflow:hidden;
    // position:fixed;
    // width:100%;
    // top:0;
    // left:0
    a{
        text-decoration:none;
        display:block;
        
        &:hover{
            text-decoration: none
          }
        
    }
    
    .header-logo{
        float:left;
        
    }
    
    .header-list{
        float:right;
        
        a{
            text-decoration:none;
            display: block;
            
        &:hover{
            color:white;
          }
        }
    }
}

// home画面
main{
    .top-wrapper{
    background-image:url("top-main-cover.jpg");
    background-size:cover;
    height:500px;
    width:100%;
    
        h1{
            text-align:center;
            padding-top:150px;
            padding-bottom:50px;
        }
        button{
            display: block;
            text-align: center;
            width:30%;
        }
        a{
            display: block;
        }
    }
    
    
}

// signup ページ
.signup-container{
    background-image:url('signup.jpg');
    background-size:cover;
    width:100%;
    padding:100px 0;
    
    .container{
        width:70%;
        border-radius:50px;
    }
}