<header class="bg-white text-info border-bottom">
  <div class="container">
    <h1 class="header-logo py-2"><a class="text-info" href='/'>Stamping APP</a></h1>
    <nav class="header-list navbar navbar-expand navbar-light">
    <% if logged_in? %>
      <ul class="navbar-nav">
        <li class="nav-item mr-4">
          <%= @current_user.name %>
        </li>
      </ul>
      <btn class="btn btn-outline-secondary px-3 my-3 py-1"><%= link_to "Log out", logout_path, method: :delete %></btn>
    <%  else %>
      <btn class="btn btn-outline-info px-3 my-3 py-1 " href="/login"><%= link_to "Log in", logout_path%></btn>
    </nav>
    <% end %>
  </div>
</header>