<header class="bg-white text-info border-bottom">
  <div class="container">
    <h1 class="header-logo py-2"><a class="text-info" href='/'>Stamping APP</a></h1>
    <div class="header-list">
      <div class="border border-info rounded px-3 my-3 py-1"><a href="#">Login</a></div>
    </div>
  </div>
</header>