<header class="bg-light text-info">
  <div class="container">
    <div class="header-logo py-2">
      <h1>Stamping APP</h1>
    </div>
    <div class="header-list">
      <div class="border border-info rounded px-3 my-3 py-1"><a href="#">Login</a></div>
    </div>
  </div>
</header>